<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Check Fake
  </h1>
  <hr>
</div>
<div class="container">
  <h2>Envie um meme para checkar se é fake </h2>
  <br>
  <br>
  <br>
  <form>
    <div class="form-group col-md-4">
      <label for="inputMeme">Enviar imagem do seu computador</label>
      <input type="file" class="form-control-file" id="inputMeme">
    </div>
    <div class="form-group">
      <span class="col-md-1"></span>
      <span>ou</span>
    </div>
    <div class="form-group col-md-6">
      <label for="inputMemeUrl">Envie imagem a partir de uma URL:</label>
      <input id="inputMemeUrl" type="text" class="form-control"/>
    </div>
    <br><br>
    <div class="form-group">
      <button type="button" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>
